// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

$range-ios-bar-height : 0 ;
$range-md-bar-height : 0 ;
.point-item{
  .current-value{
    width: 15%;
    position: absolute;
    text-align: center;
    right: 0;
    top: 20px;
    font-weight: bold;
    font-size: 1.5em;
  }
  .point-range{
    padding: 0 20% 0 0 !important;
    .range-slider{
      .range-tick{
        width: 20px !important;
        height: 32px !important;
        top:5px !important;
        border-radius:0 !important;
        background-color:white !important;
        border:solid 1px black !important;
        margin-left:-10px !important;
        z-index: -1 !important;
      }
      .range-tick-active{
        width: 20px !important;
        height: 32px !important;
        top:5px !important;
        border-radius:0 !important;
        background-color:lightgrey !important;
        border:solid 1px black !important;
        margin-left:-10px !important;
        z-index: -1 !important;
      }
      .range-bar-active{
        display:none !important;
      }
      .range-knob-handle{
        .range-knob{
          height:40px !important;
          width: 22px !important;
          border-radius:0 !important;
          top: 1px !important;
          margin-left: -2px;
        }
      }
      & > .range-knob-handle{
        .range-knob{
          background-color:green !important;
          z-index:3 !important;
        }
      }
      & > .range-knob-handle ~ .range-knob-handle{
        .range-knob{
          background-color:black !important;
          z-index:2 !important;
        }
      }
    }
  }
}