culture-item{
    .culture-button{
        height:100px ;
        width:100px ;
        margin:5px ;
        padding:5px ;
        display: inline-block;
        text-align:center;
        border:solid 2px grey;
        border-radius:10px;

        img{
            width:70px;
            height:70px;
            margin: 0 auto !important;
            background-color:transparent !important;
        }
        .culture-name{
            width:100%;
            line-height:20px;
        }
        &.selected{
            border:solid 2px black;
            background-color:map-get($colors,primary);
            color:white;
            img{
                filter: invert(100%);
            }
        }
    }
}