rank-item{
    .rank-button{
        height:30px ;
        width:45% ;
        margin:5px ;
        padding: 0 5px ;
        display: inline-block;
        text-align:center;
        border:solid 2px grey;
        border-radius:20px;
        .rank-name{
            width:100%;
            line-height:30px;
        }
        &.selected{
            border:solid 2px black;
            background-color:map-get($colors,primary);
            color:white;
            img{
                filter: invert(100%);
            }
        }
    }
}
